{
    "base": {
        "check_exists": true
    },
    "gogs": {
        "url": "localhost",
        "protocol": "http",
        "owner_id": 1,
        "token": "from gogs for account"
    },
    "bitbucket": {
        "user": "--",
        "password": "--",
        "team": "--"
    }
}
